<div class="navWrap">
    <div class=navbar>
        <a href="/">
       <div class="nav-left">
            <div class="logo">
                <div class="letter">ABC</div>
                </div>
            <div class="name">
                ABC <span> UNIVERSITY</span>
            </div>
         
    </div>
    </a>
     <div class="nav-right">
            <div class=" toggle toggle_close">
                <div class="close">
                <div class="bar4"></div>
                <div class="bar5"></div>
            
            </div>
    </div>
            <ul>
                <li><a  class= 'aboutus' href="/aboutus">ABOUT US</a>
               <li><a  class= 'programMenu' href="/#programs">PROGRAMS</a>
                                
            
            </li>
                <li><a class ='campus' href="#">CAMPUS LIFE <i class='fas fa-caret-down'></i></a>
                    <div class="subPrograms">
                        <ul>
                            <li><a href="/dormitory">Dormitory</a></li>
                           <Li><a href="/transport">Transport</a></li>
                            <Li><a href="/library">Library</a></li>
                            <li><a href="/cafeteria">Cafeteria</a></li>
                            <li><a href="/recreation">Recreation</a></li>
                        </ul>
                         
                    </div></li>
                    <li><a href="/#contact">CONTACT</a></li>
                <li><a href="/apply">APPLY NOW</a></li>
            </ul>
             
  </div>
     
        <div class=" toggle toggle_menu">
          <div class="menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div></div>
        </div>
    </div>
   
</div>
<script src="js/script.js"></script>