<html lang="en">
<%- include ("./partials/head.ejs")%>
<body>
   
<%- include ("./partials/nav.ejs")%>
<div class="services-body">
      
    <div class="services-body-left">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quibusdam placeat rerum, magni accusantium, minima aut, 
            odit neque quo similique quas illum consectetur molestiae 
            kjipsum eius laborum minus tenetur recusandae aperiam laudantium.
             Inventore vero ducimus nobis voluptas corporis perferendis quod. 
             Consequatur numquam provident quibusdam porro culpa rerum, 
            facilis non voluptatem fugiat?</p>
    </div>
    <div class="about">

    </div>
   </div>
   <%- include ("./partials/foot.ejs")%>
</body>
</html>