<html lang="en">
    <%- include ("./partials/head.ejs")%>
    
    
    
   <body>
       
    <%- include ("./partials/nav.ejs")%>
    <section class="apply" id="apply" >
       
        <div class="apply-container">
     <div class="apply-hold">
         <div class="logopos">
              
        <div class="name">
            ABC <span> UNIVERSITY</span>
        </div> 
        <h1>Application Portal</h1>
    </div>
        <div class="apply-text">
            
            <h1 class ='message'>Thank you for applying<br> Our representative<br> will contact you shortly</h1>
            <a  href="/">Continue to ABC University Website</a>
        </div>
       
     </div>
        </div>
        
    </section>
   

    <%- include ("./partials/foot.ejs")%>
</body>
</html>