<html lang="en">
<%- include ("./partials/head.ejs")%>
<body>
   
<%- include ("./partials/nav.ejs")%>
<div class="services-body">
      
    <div class="services-body-left">
        <h1>Our <span>Transport</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora accusantium, 
            alias minima sunt similique necessitatibus dignissimos autem laudantium eius,
             error at nesciunt ullam! Voluptas commodi sapiente earum aliquid inventore.</p>
    </div>
    <div class="transport">

    </div>
   </div>
   <%- include ("./partials/foot.ejs")%>
</body>
</html>